.evaluate {
    margin-left: 300px;
}



.star-rating label:hover,
.star-rating label:hover ~ label {
    color:#fc0;
}

.button{
    cursor: pointer;
    border: 0;
    padding:10px 20px;
    color: var(--fg-color-1);;
    background-color: var(--bg-btn-color);
    border-radius: 10px;
    margin-right: 300px;
}