.reservation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}
.reservation div {
flex: 0 0 33.333333%;
}

.welcome{
    text-align: center;
}
.btn {
    text-align: center;
    margin-top: 20px;
}
.btn button{
    cursor: pointer;
    border: 0;
    padding:10px 20px;
    color: var(--fg-color-1);;
    background-color: var(--bg-btn-color);
    border-radius: 10px;
}
input{
    width: 250px;
    padding:2px 10px;
    justify-content: center;
    
    display: flex;
    
}

.tables{
    display: flex;
    flex-direction: row;	
	flex-wrap: wrap;
    justify-content: center;
	gap: 5rem;

}

.tables .column{
    display: flex;
    flex-direction: column;
}
.tables .column .table{
    margin-bottom: 30px;
}

.box{
    width:200px;
    height:200px;
    line-height: 200px;
    text-align: center;
    font-weight: bold;
    border:3px solid black;
    font-size: 30px;
    color:var(--fg-color-1);
}
 .under-box{
    text-align: center;
    margin-top: 5px;
    font-size: 20px;
    font-weight: bold;
}

.reserved-box {
    background: #ccc;;
}









.table{
	
   width:auto;
   height:auto;
   
   background:White;
   border-radius: 20px;
   margin:10px;
   padding:20px;
   box-shadow: 0.6em 0.6em 1.2em #d2dce9,-0.5em -0.5em 1em #ffffff;
   cursor: pointer;
}

.table:hover {
    border: 1px solid var(--bg-btn-color);
}

.reserved_table {
    background-color: #ddd;
}

.tables .btn {
text-align: center; 
margin-top: 10px;
vertical-align: middle;
padding: 8px 40px;
background-color: rgb(121, 102, 18);
color: white;
margin-left: 60px;
border-radius:1rem;
 }


.table img{
width: 250px;
height: 180px;
object-fit: cover;
cursor: pointer;
transition: 0.2s ease;	
border-radius:1rem;
margin:1rem;

}


.table .image2 img{
	
width: 200px;
height: 150px;
object-fit: cover;
cursor: pointer;
transition: 0.2s ease;	
align-items: center;
margin-left: 40px;	
}



.table img:hover{
	
	transform: scale(1.0);
}

.table h4{
	
	padding: 5px;
	text-align: center;   
	
}
.table h4{

	text-align:center;
	text-shadow: .2em .2em .3em silver;
	font-weight: bold;
    font-size: 1.5rem;
    color:#5A5A5A;
}

.table h6{
	text-align:center;
	font-weight: bold;
    font-size: 1rem;
    color:black;
	
}


@media screen and (max-width: 1000px){
	
	tables{
		
		grid-template-columns: repeat(2,1fr);
	}
}

@media screen and (max-width: 768px){
	
	tables{
		
		grid-template-columns: repeat(1,1fr);
	}
}